
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.NEWSROOMS">Newsrooms</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="NewsroomCtrl">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKNEWSROOMS">Back to Newsrooms list</span>
                           </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" ng-click="add()" class="btn btn-primary">
                            <i class="ti-plus"></i> <span translate="content.list.ADDNEWSROOM">Add Newsroom</span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="edit(newsroom)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITNEWSROOM">Edit Newsroom</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.NEWSROOMDETAILS">Newsroom Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SLUG">Slug</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.slug"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTION">Description</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.description"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.URL">Url</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.url"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EMAIL">Email</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.email"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LOGOPICTURE">Logo Picture</span></td>
                                <td>
                                    <div class="user-image margin-top-10" ng-if="newsroom.logo_picture != '' && newsroom.logo_picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ app.thumbURL + newsroom.logo_picture ]]" alt="" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BANNERPICTURE">Banner Picture</span></td>
                                <td>
                                    <div class="user-image margin-top-10" ng-if="newsroom.banner_picture != '' && newsroom.banner_picture != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ app.thumbURL + newsroom.banner_picture ]]" alt="" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PRESSRELEASESPERPAGE">Press Releases Per Page</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.press_releases_per_page"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.BACKGROUNDCOLOR">Background Color</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.background_color"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TITLECOLOR">Title Color</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.title_color"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TITLEFONT">Title Font</span></td>
                                <td><a ui-sref="app.templatemanager.fontsdetails({id: newsroom.title_font.id})">[[ newsroom.title_font.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEXTCOLOR">Text Color</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.text_color"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TEXTFONT">Text Font</span></td>
                                <td><a ui-sref="app.templatemanager.fontsdetails({id: newsroom.text_font.id})">[[ newsroom.text_font.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FACEBOOKLINK">Facebook Link</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.facebook_link"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TWITTERLINK">Twitter Link</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.twitter_link"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.GOOGLEPLUSLINK">Google Plus Link</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.google_plus_link"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PINTERESTLINK">Pinterest Link</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.pinterest_link"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.INSTAGRAMLINK">Instagram Link</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.instagram_link"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.YOUTUBELINK">Youtube Link</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.youtube_link"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.LINKEDINLINK">Linkedin Link</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.linkedin_link"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.VIMEOLINK">Vimeo Link</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.vimeo_link"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.FLICKRLINK">Flickr Link</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.flickr_link"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TUMBLRLINK">Tumblr Link</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.tumblr_link"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CSS">Css</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.css"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLESEARCH">Enable Search</span></td>
                                <td>
                                    <span my-boolean="[[ newsroom.enable_search ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLESOCIALNETWORKS">Enable Social Networks</span></td>
                                <td>
                                    <span my-boolean="[[ newsroom.enable_social_networks ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLEMEDIA">Enable Media</span></td>
                                <td>
                                    <span my-boolean="[[ newsroom.enable_media ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENABLEDATE">Enable Date</span></td>
                                <td>
                                    <span my-boolean="[[ newsroom.enable_date ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PUBLISHED">Published</span></td>
                                <td>
                                    <span my-boolean="[[ newsroom.published ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PIWIKREFERENCE">Piwik Reference</span></td>
                                <td>
                                    <div ng-bind-html="newsroom.piwik_reference"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: newsroom.creator_user.id})">[[ newsroom.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ newsroom.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: newsroom.modifier_user.id})">[[ newsroom.modifier_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ newsroom.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.USERS">Users</span></td>
                                <td>
                                    <a ng-repeat="user in newsroom.users" ui-sref="app.access.usersdetails({id: user.id})">[[ user.username ]]</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
