<div class="brand">

  <!-- logo -->
  <div class="brand-logo">
    <img data-ng-src="/app/images/logo.png" height="15" alt="">
  </div>
  <!-- /logo -->

  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <!-- /toggle small sidebar menu -->

</div>

<!-- main navigation -->
<nav role="navigation" side-navigation>

  <ul class="nav">

    <li ui-sref-active="active">
      <a i-sref="app.dashboard">
        <i class="fa ti-dashboard"></i>
        <span translate="sidebar.nav.dashboard.MAIN">Dashboard</span>
      </a>
    </li>

    <!--li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.templatemanager.templates')}">
      <a ui-sref="app.templatemanager.templates">
        <i class="fa fa-newspaper-o"></i>
        <span class="title" translate="content.list.TEMPLATES">Templates</span>
      </a>
    </li-->

    <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.templatemanager.contentblocks')}">
      <a ui-sref="app.templatemanager.contentblocks">
        <i class="fa ti-layout-tab-window"></i>
        <span class="title" translate="content.list.CONTENTBLOCKS">Content Blocks</span>
      </a>
    </li>

    <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.templatemanager.layouts')}">
      <a ui-sref="app.templatemanager.layouts">
        <i class="fa ti-layout"></i>
        <span class="title" translate="content.list.LAYOUTS">Layouts</span>
      </a>
    </li>

    <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.templatemanager.fonts')}">
      <a ui-sref="app.templatemanager.fonts">
        <i class="fa fa-font"></i>
        <span class="title" translate="content.list.FONTS">Fonts</span>
      </a>
    </li>

    <li ui-sref-active="active" ng-if="user.roles.join('').indexOf('ACC') > -1" ng-class="{'active':$state.includes('app.prmanager.pressreleases')}">
      <a  ui-sref="app.prmanager.pressreleases">
        <i class="fa fa-file-text-o"></i>
        <span translate="content.list.PRESSRELEASES">Press Releases</span>
      </a>
    </li>

    <li ui-sref-active="active" ng-if="user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.prmanager.newsrooms')}">
      <a  ui-sref="app.prmanager.newsrooms">
        <i class="fa fa-newspaper-o"></i>
        <span translate="content.list.NEWSROOMS">Newsrooms</span>
      </a>
    </li>

    <li ui-sref-active="active" ng-if="user.roles.join('').indexOf('ACC') > -1" ng-class="{'active':$state.includes('app.contactmanager.contacts')}">
      <a ui-sref="app.contactmanager.contacts">
        <i class="fa ti-id-badge"></i>
        <span class="title" translate="content.list.CONTACTS">Contacts</span>
      </a>
    </li>

    <li ui-sref-active="active" ng-if="user.roles.join('').indexOf('ACC') > -1" ng-class="{'active':$state.includes('app.contactmanager.contactgroups')}">
      <a ui-sref="app.contactmanager.contactgroups">
        <i class="fa ti-agenda"></i>
        <span class="title" translate="content.list.CONTACTGROUPS">Contact Groups</span>
      </a>
    </li>

    <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.configuration.emailtemplates')}">
      <a ui-sref="app.configuration.emailtemplates">
        <i class="fa ti-comment-alt"></i>
        <span class="title" translate="content.list.EMAILTEMPLATES">Email Templates</span>
      </a>
    </li>

    <li ui-sref-active="active" ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.access.users')}">
      <a ui-sref="app.access.users">
        <i class="fa fa-user-secret"></i>
        <span translate="content.list.USERS">Users</span>
      </a>
    </li>


  </ul>
</nav>
<!-- /main navigation -->
