
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.FONTS">Fonts</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="FontFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWFONT" ng-if="font.id == 0">
                        New Font
                    </legend>
                    <legend translate="content.list.EDITFONT" ng-if="font.id > 0">
                        Edit Font
                    </legend>
                    <form name="fontForm" id="fontForm" novalidate ng-submit="submitForm(fontForm)">
                        <div class="row">
                            <input type="hidden" name="id" id="fontId" ng-model="font.id" />
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':fontForm.name.$dirty && fontForm.name.$invalid, 'has-success':fontForm.name.$valid}">
                                    <label for="fontName" class="control-label">
                                        <span translate="content.list.fields.NAME">Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="font.name" type="text" name="name" id="fontName" class="form-control" placeholder="[[ 'content.form.messages.ENTERNAME' | translate ]]" ng-required="true" />
                                        <i class="ti-tag"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="fontForm.name.$dirty && fontForm.name.$error.required" translate="content.form.messages.NAMEREQUIRED">Name is required.</span>
                                    <span class="success text-small block" ng-if="fontForm.name.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':fontForm.fileName.$dirty && fontForm.fileName.$invalid, 'has-success':fontForm.fileName.$valid}">
                                    <label for="fontFileName" class="control-label">
                                        <span translate="content.list.fields.FILENAME">File Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="input-group">
                                    <span class="input-icon">
                                        <input ng-model="font.file_name" type="text" name="fileName" id="fontFileName" class="form-control" placeholder="[[ 'content.form.messages.ENTERFILENAME' | translate ]]" ng-required="true" />
                                        <i class="ti-folder"></i>
                                    </span><!--/input-icon-->
                                        <span class="input-group-btn">
                                            <a type="button" class="btn btn-primary" ng-click="showFileManager('file_name')">
                                                <i class="ti-cloud"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="user-image margin-top-10" ng-if="font.file_name != '' && font.file_name != null">
                                        <div class="thumbnail">
                                            <img ng-src="[[ thumbURL + font.file_name ]]" alt="" />
                                        </div>
                                        <div class="user-image-buttons">
                                            <span class="btn btn-primary"  ng-click="showFileManager('file_name')"><i class="fa fa-pencil"></i></span>
                                            <span class="btn btn-danger" ng-click="font.file_name = ''"> <i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                    <span class="error text-small block" ng-if="fontForm.fileName.$dirty && fontForm.fileName.$error.required" translate="content.form.messages.FILENAMEREQUIRED">File Name is required.</span>
                                    <span class="success text-small block" ng-if="fontForm.fileName.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':fontForm.cssName.$dirty && fontForm.cssName.$invalid, 'has-success':fontForm.cssName.$valid}">
                                    <label for="fontCssName" class="control-label">
                                        <span translate="content.list.fields.CSSNAME">Css Name</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="font.css_name" type="text" name="cssName" id="fontCssName" class="form-control" placeholder="[[ 'content.form.messages.ENTERCSSNAME' | translate ]]" ng-required="true" />
                                        <i class="ti-css3"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="fontForm.cssName.$dirty && fontForm.cssName.$error.required" translate="content.form.messages.CSSNAMEREQUIRED">Css Name is required.</span>
                                    <span class="success text-small block" ng-if="fontForm.cssName.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                            <div class="col-md-6">
                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="font.is_icon" type="checkbox" name="isIcon" id="fontIsIcon" />
                                    <label for="fontIsIcon" translate="content.list.fields.ISICON">Is Icon</label>
                                </div><!--/checkbox continuous-check check-primary-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox continuous-check check-primary">
                                    <input ng-model="font.published" type="checkbox" name="published" id="fontPublished" />
                                    <label for="fontPublished" translate="content.list.fields.PUBLISHED">Published</label>
                                </div><!--/checkbox continuous-check check-primary-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKFONTS">Back to Fonts list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(fontForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="fontForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="fonts.length > 0">
                    </div>
                </fieldset>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

