<ul>
    <li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active open':$state.includes('app.access')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="access"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.access.MAIN">Access</span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.access.users')}">
                <a ui-sref="app.access.users">
                    <span class="title" translate="content.list.USERS">Users</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.access.companies')}">
                <a ui-sref="app.access.companies">
                    <span class="title" translate="content.list.COMPANIES">Companies</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.access.logs')}">
                <a ui-sref="app.access.logs">
                    <span class="title" translate="content.list.LOGS">Logs</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="user.roles.join('').indexOf('ACC') > -1" ng-class="{'active open':$state.includes('app.contactmanager')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="contactmanager"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.contactmanager.MAIN">ContactManager</span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-if="user.roles.join('').indexOf('ACC') > -1" ng-class="{'active':$state.includes('app.contactmanager.contactgroups')}">
                <a ui-sref="app.contactmanager.contactgroups">
                    <span class="title" translate="content.list.CONTACTGROUPS">Contact Groups</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ACC') > -1" ng-class="{'active':$state.includes('app.contactmanager.contacts')}">
                <a ui-sref="app.contactmanager.contacts">
                    <span class="title" translate="content.list.CONTACTS">Contacts</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active open':$state.includes('app.templatemanager')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="templatemanager"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.templatemanager.MAIN">TemplateManager</span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.templatemanager.templates')}">
                <a ui-sref="app.templatemanager.templates">
                    <span class="title" translate="content.list.TEMPLATES">Templates</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.templatemanager.contentblocks')}">
                <a ui-sref="app.templatemanager.contentblocks">
                    <span class="title" translate="content.list.CONTENTBLOCKS">Content Blocks</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.templatemanager.layouts')}">
                <a ui-sref="app.templatemanager.layouts">
                    <span class="title" translate="content.list.LAYOUTS">Layouts</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.templatemanager.fonts')}">
                <a ui-sref="app.templatemanager.fonts">
                    <span class="title" translate="content.list.FONTS">Fonts</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active open':$state.includes('app.configuration')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="configuration"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.configuration.MAIN">Configuration</span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.configuration.languages')}">
                <a ui-sref="app.configuration.languages">
                    <span class="title" translate="content.list.LANGUAGES">Languages</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.configuration.emailtemplates')}">
                <a ui-sref="app.configuration.emailtemplates">
                    <span class="title" translate="content.list.EMAILTEMPLATES">Email Templates</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.configuration.countries')}">
                <a ui-sref="app.configuration.countries">
                    <span class="title" translate="content.list.COUNTRIES">Countries</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.configuration.settings')}">
                <a ui-sref="app.configuration.settings">
                    <span class="title" translate="content.list.SETTINGS">Settings</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.distribution')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="distribution"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.distribution.MAIN">Distribution</span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.distribution.emails')}">
                <a ui-sref="app.distribution.emails">
                    <span class="title" translate="content.list.EMAILS">Emails</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.distribution.emailcampaigns')}">
                <a ui-sref="app.distribution.emailcampaigns">
                    <span class="title" translate="content.list.EMAILCAMPAIGNS">Email Campaigns</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="user.roles.join('').indexOf('MAN') > -1 || user.roles.join('').indexOf('ACC') > -1" ng-class="{'active open':$state.includes('app.prmanager')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="prmanager"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.prmanager.MAIN">PRManager</span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-if="user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.prmanager.newsrooms')}">
                <a ui-sref="app.prmanager.newsrooms">
                    <span class="title" translate="content.list.NEWSROOMS">Newsrooms</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ACC') > -1" ng-class="{'active':$state.includes('app.prmanager.pressreleases')}">
                <a ui-sref="app.prmanager.pressreleases">
                    <span class="title" translate="content.list.PRESSRELEASES">Press Releases</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.settings')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="settings"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.settings.MAIN">Settings</span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.settings.newsroomtemplates')}">
                <a ui-sref="app.settings.newsroomtemplates">
                    <span class="title" translate="content.list.NEWSROOMTEMPLATES">Newsroom Templates</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="user.roles.join('').indexOf('AD') > -1 || user.roles.join('').indexOf('MAN') > -1 || user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.billing')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="billing"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.billing.MAIN">Billing</span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.billing.products')}">
                <a ui-sref="app.billing.products">
                    <span class="title" translate="content.list.PRODUCTS">Products</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('AD') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.billing.payments')}">
                <a ui-sref="app.billing.payments">
                    <span class="title" translate="content.list.PAYMENTS">Payments</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.billing.paymentplans')}">
                <a ui-sref="app.billing.paymentplans">
                    <span class="title" translate="content.list.PAYMENTPLANS">Payment Plans</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1 || user.roles.join('').indexOf('MAN') > -1" ng-class="{'active':$state.includes('app.billing.userpaymentplans')}">
                <a ui-sref="app.billing.userpaymentplans">
                    <span class="title" translate="content.list.USERPAYMENTPLANS">User Payment Plans</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.accesscontrol')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="accesscontrol"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.accesscontrol.MAIN">AccessControl</span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.accesscontrol.sessions')}">
                <a ui-sref="app.accesscontrol.sessions">
                    <span class="title" translate="content.list.SESSIONS">Sessions</span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active open':$state.includes('app.statistics')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="statistics"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.statistics.MAIN">Statistics</span>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.statistics.trackpressreleases')}">
                <a ui-sref="app.statistics.trackpressreleases">
                    <span class="title" translate="content.list.TRACKPRESSRELEASES">Track Press Releases</span>
                </a>
            </li>
            <li ng-if="user.roles.join('').indexOf('ADM') > -1" ng-class="{'active':$state.includes('app.statistics.trackemails')}">
                <a ui-sref="app.statistics.trackemails">
                    <span class="title" translate="content.list.TRACKEMAILS">Track Emails</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
