<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.FAQS">Faqs</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="FaqShowCtrl">
            <div class="panel">
                <div class="panel-body">
                    <div class="search-results">
                        <ul class="search-results-list">
                            <li class="search-result">
                                <h5>
                                    <a href="javascript:;" class="text-info">[[ faq.question ]]</a>
                                </h5>
                                <p>[[ faq.response ]]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>