<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.SENDPRESSRELEASE">Press Release Sender</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="PressReleaseSenderCtrl">
            <div>
                <fieldset>
                    <form name="pressReleaseSender" id="pressReleaseSender" novalidate ng-submit="submitForm(pressReleaseSender)">
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="block" ng-if="contactGroupsLoaded">
                                    <span class="input-icon">
                                        <select ng-options="item.id as item.name for item in contactGroups | filter:{ hidden : false }" ng-model="contactGroups.id" name="contactGroupSender" id="contactContactGroupSender" class="form-control" ng-required="true">
                                            <option translate="content.form.messages.SELECTCONTACTGROUP" value="">Select Contact Group</option>
                                        </select>
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    </div>
                                    <span class="error text-small block" ng-if="pressReleaseSender.contactContactGroupSender.$dirty && pressReleaseSender.contactContactGroupSender.$error.required" translate="content.form.messages.CONTACTGROUPREQUIRED">Contact Group is required.</span>
                                    <span class="success text-small block" ng-if="pressReleaseSender.contactContactGroupSender.$valid" translate="content.form.messages.OK">Ok!</span>
                            </div><!--/col-md-6-->

                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <button ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKPRESSRELEASES">Back to Contacts list</span>
                                </button>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(pressReleaseSender)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="contactForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="contacts.length > 0">
                    </div>
                </fieldset>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->


