<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="sidebar.nav.pages.CHANGEPASSWORD">Change Password</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<div class="row col-md-2"></div>
<!-- start: FORGOT -->

<div class="row">
    <div class="main-login col-md-8 ">

        <!-- start: FORGOT BOX -->
        <div class="box-forgot" ng-controller="ChangePasswordCtrl">
            <form class="form-forgot">
                <fieldset>
                    <legend translate="resetpassword.FORGET">
                        Forget Password?
                    </legend>
                    <p translate="resetpassword.ENTERCURRENTPASSWORD">
                        Enter your current password.
                    </p>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="password" class="form-control" name="current_password" placeholder="[[ 'content.form.messages.ENTERPASSWORD' | translate ]]" ng-model="current_password" ng-required="true" />
                            <i class="ti-lock"></i>
                        </span>
                    </div>
                    <p translate="resetpassword.ENTERNEWPASSWORD">
                        Enter your new password.
                    </p>

                    
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="password" class="form-control" name="new[first]" placeholder="[[ 'content.form.messages.ENTERPASSWORD' | translate ]]" ng-model="password.new.first" ng-required="true" />
                            <i class="ti-lock"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="password" class="form-control" name="new[second]" placeholder="[[ 'content.form.messages.REENTERPASSWORD' | translate ]]" ng-model="password.new.second" ng-required="true" />
                            <i class="ti-lock"></i>
                        </span>
                    </div>
                    <div class="form-actions">

                        <button type="button" class="btn btn-primary pull-right" ng-click="submit()" ng-disabled="disableSubmit">
                            <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i>
                            <i class="fa fa-arrow-circle-right" ng-if="!disableSubmit"></i>
                            <span translate="resetpassword.SUBMIT">Submit</span>
                        </button>
                    </div>
                </fieldset>

            </form>

        </div>
        <!-- end: FORGOT BOX -->
    </div>
</div>
<!-- end: FORGOT -->
</div>
