<div class="center-wrapper" ng-controller="LoginCtrl">
	<div class="center-content">
		<div class="row no-margin">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
				<form role="form" class="form-layout">
					<div class="text-center mb15">
						<img ng-src="/app/images/logo-dark.png" />
					</div>

					<h5 class="text-center mb30" translate="login.SIGNIN">
						Sign in to your account
					</h5>

					<div class="alert alert-danger" ng-if="status == 'error'">
						<button data-ct-dismiss="alert" class="close">
							&times;
						</button>
						<span translate="login.ERROR">Incorrect Email or Password.</span>
					</div>
					<div class="alert alert-success" ng-if="status == 'welcome'">
						<button data-ct-dismiss="alert" class="close">
							&times;
						</button>
						<span translate="login.WELCOME" translate-values="{ user: user }">Welcome [[user.firstName]].</span>
					</div>

					<div class="form-inputs">

						<div class="form-group">
							<div class="input-group input-group-lg">
								<input ng-model="email" type="text" class="form-control input-lg" name="email" placeholder="[[ 'login.EMAIL' | translate ]]">
								<span class="input-group-addon">
									<i class="ti-email"></i>
								</span>
							</div>
						</div>

						<div class="form-group">
							<div class="input-group input-group-lg">
								<input ng-model="password" type="password" class="form-control input-lg" name="password" placeholder="[[ 'login.PASSWORD' | translate ]]">
								<span class="input-group-addon">
									<i class="ti-lock"></i>
								</span>
							</div>
						</div>

					</div>

					<div class="form-group">
						<div class="checkbox continuous-check check-brand">
							<input type="checkbox" name="checked-checkbox-name" value="1" name="rememberMe" id="rememberMe" />
							<label class="text-left" translate="login.KEEPMESIGNEDIN" for="rememberMe">Keep me signed in</label>
						</div>
					</div>

					<div class="row">

						<div class="col-md-6">
							<button class="btn btn-brand btn-block btn-sm" type="submit" ng-click="submit()" ng-disabled="disableSubmit">
								<i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i>
								<span translate="login.LOGIN">Login</span>
							</button>
						</div>

						<div class="col-md-6">
							<a class="btn btn-dark btn-block btn-sm" ui-sref="auth.register" translate="login.CREATEACCOUNT">Create an account</a>
						</div>
					</div>

					<p>
						<a class="forgot" ui-sref="auth.resetpassword" translate="login.FORGOTPASSWORD">I forgot my password</a>
					</p>
				</form>
			</div>
		</div>

	</div>
</div>
