
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.PAYMENTS">Payments</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="PaymentCtrl">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKPAYMENTS">Back to Payments list</span>
                           </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" ng-click="add()" class="btn btn-primary">
                            <i class="ti-plus"></i> <span translate="content.list.ADDPAYMENT">Add Payment</span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="edit(payment)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITPAYMENT">Edit Payment</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.PAYMENTDETAILS">Payment Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="payment.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.IP">Ip</span></td>
                                <td>
                                    <div ng-bind-html="payment.ip"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AMOUNT">Amount</span></td>
                                <td>
                                    <div ng-bind-html="payment.amount"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CURRENCY">Currency</span></td>
                                <td>
                                    <div ng-bind-html="payment.currency"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <div ng-bind-html="payment.status"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DISCOUNTCODE">Discount Code</span></td>
                                <td>
                                    <div ng-bind-html="payment.discount_code"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.INVOICENUMBER">Invoice Number</span></td>
                                <td>
                                    <div ng-bind-html="payment.invoice_number"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DETAILS">Details</span></td>
                                <td>
                                    <div ng-bind-html="payment.details"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NOTE">Note</span></td>
                                <td>
                                    <div ng-bind-html="payment.note"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ISVALID">Is Valid</span></td>
                                <td>
                                    <span my-boolean="[[ payment.is_valid ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PRODUCT">Product</span></td>
                                <td><a ui-sref="app.billing.productsdetails({id: payment.product.id})">[[ payment.product.name ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STARTDATE">Start Date</span></td>
                                <td>
                                    <span>[[ payment.start_date | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ENDDATE">End Date</span></td>
                                <td>
                                    <span>[[ payment.end_date | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.TOKEN">Token</span></td>
                                <td>
                                    <div ng-bind-html="payment.token"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: payment.creator_user.id})">[[ payment.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ payment.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: payment.modifier_user.id})">[[ payment.modifier_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ payment.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
