<div class="main-content" ng-controller="InvoiceCtrl">
    <div class="mb15 clearfix">
        <div class="pull-right text-right">
            <!--<i class="fa fa-diamond fa-4x mb20"></i>-->
            <img src="/app/images/logo-dark.png">
            <p>01 April 2015</p>
            <h5 class="text-uppercase">[['payment.invoice.INVOICENUMBER' | translate]]  #[[ invoice.invoice.invoice_number ]]</h5>
            <!--<small>Payment due by 01 May 2015</small>-->
        </div>
        <div class="w150">
            <!--<button type="button" class="btn btn-danger btn-block text-left no-print mb15" onclick="window.print();">
                <i class="ti-printer mr5"></i>Print
            </button> -->
            <button type="button" class="btn btn-info btn-block text-left no-print"  ng-click="exportInvoice(invoice.invoice.id)">
                <i class="fa fa-spinner fa-spin" ng-if="disableExport"></i><i class="ti-download" ng-if="!disableExport"></i> <span translate="payment.invoice.EXPORTTOPDF">Export to PDF</span>
            </button>
        </div>
    </div>
    <div id="InvoiceExport">
        <div class="row mb15">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <address class="no-margin">
                            <strong translate="payment.invoice.BILLEDTO">Billed To:</strong><br>
                            [[ invoice.invoice.creator_user.name]]<br>
                            [[ invoice.invoice.creator_user.zip_code +' '+  invoice.invoice.creator_user.address ]]<br>
                            [[ invoice.invoice.creator_user.city ]]<br>
                            [[ invoice.invoice.creator_user.country ]]<br>
                            [[ invoice.invoice.creator_user.email ]]
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                       <!-- <address class="no-margin">
                            <strong translate="payment.invoice.SHIPPEDTO">Shipped To:</strong><br>
                            [[ invoice.invoice.creator_user.first_name +'  '+ invoice.invoice.creator_user.last_name]]<br>
                            [[ invoice.invoice.creator_user.zip_code +' '+  invoice.invoice.creator_user.address ]]<br>
                            [[ invoice.invoice.creator_user.city ]]<br>
                            [[ invoice.invoice.creator_user.country ]]
                        </address> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb15">
            <div class="col-xs-6">
                <address>
                    <strong translate="payment.invoice.PAYMENTMETHOD">Payment Method:</strong><br>
                    Stripe Order ID<br>
                    [[ invoice.invoice.token ]]
                </address>
            </div>
            <div class="col-xs-6 text-right">
                <address>
                    <strong translate="payment.invoice.ORDERDATE">Order Date:</strong><br>
                    [[ invoice.invoice.creator_user.created_at | date : translate:"formats.DATE"]]<br><br>
                </address>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered bl br">
                <thead>
                <tr>
                    <th translate="payment.invoice.DESCRIPTION">Description</th>
                    <th translate="payment.invoice.UNUTPRICE">Unit Price</th>
                    <th translate="payment.invoice.QUANTITY">Quantity</th>
                    <th translate="payment.invoice.AMOUNT">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        [[ invoice.invoice.product.description ]]
                    </td>
                    <td>
                        [[ invoice.invoice.amount ]] <i class="fa fa-euro"></i>
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        [[ invoice.invoice.amount]] <i class="fa fa-euro"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="invoice-totals">
            <div class="invoice-totals-row">
                <strong class="invoice-totals-title" translate="payment.invoice.VAT">VAT % </strong>
                <span class="invoice-totals-value">[[ invoice.vat ]] % </i></span>
            </div>
            <div class="invoice-totals-row">
                <strong class="invoice-totals-title" translate="payment.invoice.VATVALUE">VAT &euro; </strong>
                <span class="invoice-totals-value">[[ invoice.price_vat ]] &euro;</span>
            </div>
            <div class="invoice-totals-row">
                <strong class="invoice-totals-title" translate="payment.invoice.AMOUNTPAID">Total</strong>
                <span class="invoice-totals-value">[[ invoice.total ]] &euro;</span>
            </div>
            <!--<div class="invoice-totals-row">
                <strong class="invoice-totals-title" translate="payment.invoice.AMOUNTDUE">Amount Due</strong>
                <span class="invoice-totals-value"> [[ invoice.product.price ]] <i class="fa fa-euro"></i></span>
            </div>-->
        </div>

        <hr>
        <div class="clearfix mb15">
            <p class="bold small">PAYMENT TERMS AND POLICIES</p>
            <small>All accounts are to be paid within 7 days from receipt of invoice. To be paid by cheque or credit card or direct payment online. If account is not paid within 7 days the credits details supplied as confirmation of work undertaken will be charged the agreed
                quoted fee noted above. If the Invoice remails unpaid. our dept recovery agency, Urban, may charge you a fee of 25% of the unpaid portion of the
                invoice amount and other legal and collection costs not covered by the fee. </small>
        </div>
    </div>
</div>
<!-- /main area -->
</div>