
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.PAYMENTPLANS">Payment Plans</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="PaymentPlanCtrl">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKPAYMENTPLANS">Back to Payment Plans list</span>
                           </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" ng-click="add()" class="btn btn-primary">
                            <i class="ti-plus"></i> <span translate="content.list.ADDPAYMENTPLAN">Add Payment Plan</span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="edit(paymentPlan)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITPAYMENTPLAN">Edit Payment Plan</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.PAYMENTPLANDETAILS">Payment Plan Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="paymentPlan.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="paymentPlan.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STRIPEREFERENCE">Stripe Reference</span></td>
                                <td>
                                    <div ng-bind-html="paymentPlan.stripe_reference"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.AMOUNT">Amount</span></td>
                                <td>
                                    <div ng-bind-html="paymentPlan.amount"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.INTERVAL">Interval</span></td>
                                <td>
                                    <div ng-bind-html="paymentPlan.interval"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.INTERVALCOUNT">Interval Count</span></td>
                                <td>
                                    <div ng-bind-html="paymentPlan.interval_count"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STATUS">Status</span></td>
                                <td>
                                    <span my-enum="[[ paymentPlan.status ]]" my-enum-list="[[ statuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.STARTDATE">Start Date</span></td>
                                <td>
                                    <div ng-bind-html="paymentPlan.start_date"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: paymentPlan.creator_user.id})">[[ paymentPlan.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ paymentPlan.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: paymentPlan.modifier_user.id})">[[ paymentPlan.modifier_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ paymentPlan.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
