
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.SETTINGS">Settings</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->

<!-- start: FORM -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="SettingFormCtrl">
            <div>
                <fieldset>
                    <legend translate="content.list.NEWSETTING" ng-if="setting.id == 0">
                        New Setting
                    </legend>
                    <legend translate="content.list.EDITSETTING" ng-if="setting.id > 0">
                        Edit Setting
                    </legend>
                    <form name="settingForm" id="settingForm" novalidate ng-submit="submitForm(settingForm)">
                        <div class="row">
                            <input type="hidden" name="id" id="settingId" ng-model="setting.id" />
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{'has-error':settingForm.key.$dirty && settingForm.key.$invalid, 'has-success':settingForm.key.$valid}">
                                    <label for="settingKey" class="control-label">
                                        <span translate="content.list.fields.KEY">Key</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        <input ng-model="setting.key" type="text" name="key" id="settingKey" class="form-control" placeholder="[[ 'content.form.messages.ENTERKEY' | translate ]]" ng-required="true" />
                                        <i class="ti-marker-alt"></i>
                                    </span><!--/input-icon-->
                                    <span class="error text-small block" ng-if="settingForm.key.$dirty && settingForm.key.$error.required" translate="content.form.messages.KEYREQUIRED">Key is required.</span>
                                    <span class="success text-small block" ng-if="settingForm.key.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{'has-error':settingForm.value.$dirty && settingForm.value.$invalid, 'has-success':settingForm.value.$valid}">
                                    <label for="settingValue" class="control-label">
                                        <span translate="content.list.fields.VALUE">Value</span>
                                        <span class="symbol required"></span>
                                    </label>
                                    <div class="note-editor">
                                        <div ckeditor="editorOptions" ready="onReadyEditor()"ng-model="setting.value" name="value" id="settingValue" class="form-control" placeholder="[[ 'content.form.messages.ENTERVALUE' | translate ]]" class="form-control autosize area-animated msd-elastic: \n;" ng-required="true"></div>
                                    </div>
                                    <span class="error text-small block" ng-if="settingForm.value.$dirty && settingForm.value.$error.required" translate="content.form.messages.VALUEREQUIRED">Value is required.</span>
                                    <span class="success text-small block" ng-if="settingForm.value.$valid" translate="content.form.messages.OK">Ok!</span>
                                </div><!--/form-group-->
                            </div><!--/col-md-6-->
                        </div><!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <a ng-click="list()" class="btn btn-primary pull-left">
                                    <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKSETTINGS">Back to Settings list</span>
                                </a>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <button type="button" ng-click="submitForm(settingForm)" class="btn btn-primary pull-right" ng-disabled="disableSubmit"> <!--  ng-disabled="settingForm.$invalid" -->
                                    <i class="fa fa-spinner fa-spin" ng-if="disableSubmit"></i><i class="ti-save" ng-if="!disableSubmit"></i> <span translate="content.common.SAVE">Save</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive" ng-if="settings.length > 0">
                    </div>
                </fieldset>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: FORM -->

