
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.EMAILS">Emails</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="EmailCtrl">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKEMAILS">Back to Emails list</span>
                           </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" ng-click="add()" class="btn btn-primary">
                            <i class="ti-plus"></i> <span translate="content.list.ADDEMAIL">Add Email</span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="edit(email)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITEMAIL">Edit Email</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.EMAILDETAILS">Email Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="email.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PRESSRELEASE">Press Release</span></td>
                                <td><a ui-sref="app.prmanager.pressreleasesdetails({id: email.press_release.id})">[[ email.press_release.title ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CONTACT">Contact</span></td>
                                <td><a ui-sref="app.contactmanager.contactsdetails({id: email.contact.id})">[[ email.contact.firstName ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EMAIL">Email</span></td>
                                <td>
                                    <div ng-bind-html="email.email"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SECTION">Section</span></td>
                                <td>
                                    <div ng-bind-html="email.section"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SENDINGSTATUS">Sending Status</span></td>
                                <td>
                                    <span my-enum="[[ email.sending_status ]]" my-enum-list="[[ sendingStatuses ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ email.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: email.creator_user.id})">[[ email.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ email.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: email.modifier_user.id})">[[ email.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
