parameters:
    publi_pr.event.jwt_response_listener.class: ContinuousNet\PubliPrBundle\EventListener\JWTResponseListener
    publi_pr.event.jwt_created_listener.class: ContinuousNet\PubliPrBundle\EventListener\JWTCreatedListener
    publi_pr.event.jwt_decoded_listener.class: ContinuousNet\PubliPrBundle\EventListener\JWTDecodedListener
    publi_pr.form.handler.registration.class: ContinuousNet\PubliPrBundle\Form\Handler\RegistrationFormHandler

services:
    publi_pr.event.jwt_response_listener:
        class: %publi_pr.event.jwt_response_listener.class%
        arguments:
            - @doctrine.orm.entity_manager
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_authentication_success, method: onAuthenticationSuccessResponse }
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_authentication_failure, method: onAuthenticationFailureResponse }
    publi_pr.event.jwt_created_listener:
        class: %publi_pr.event.jwt_created_listener.class%
        arguments:
            - @doctrine.orm.entity_manager
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_created, method: onJWTCreated }
    publi_pr.event.jwt_decoded_listener:
        class: %publi_pr.event.jwt_decoded_listener.class%
        arguments:
            - @doctrine.orm.entity_manager
            - 1800 # integer $maxInactivityTime (seconds)
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_decoded, method: onJWTDecoded }
    publi_pr.form.handler.registration:
        class: %publi_pr.form.handler.registration.class%
        arguments:
          - @fos_user.registration.form
          - @request
          - @fos_user.user_manager
          - @fos_user.mailer
          - @fos_user.util.token_generator
        scope: request
        public: false