
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.TRACKPRESSRELEASES">Track Press Releases</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="TrackPressReleaseCtrl">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKTRACKPRESSRELEASES">Back to Track Press Releases list</span>
                           </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" ng-click="add()" class="btn btn-primary">
                            <i class="ti-plus"></i> <span translate="content.list.ADDTRACKPRESSRELEASE">Add Track Press Release</span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="edit(trackPressRelease)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITTRACKPRESSRELEASE">Edit Track Press Release</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.TRACKPRESSRELEASEDETAILS">Track Press Release Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="trackPressRelease.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PRESSRELEASE">Press Release</span></td>
                                <td><a ui-sref="app.pressreleasemanager.pressreleasesdetails({id: trackPressRelease.press_release.id})">[[ trackPressRelease.press_release.title ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SECTION">Section</span></td>
                                <td>
                                    <div ng-bind-html="trackPressRelease.section"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SOURCE">Source</span></td>
                                <td>
                                    <div ng-bind-html="trackPressRelease.source"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.ACTION">Action</span></td>
                                <td>
                                    <span my-enum="[[ trackPressRelease.action ]]" my-enum-list="[[ actions ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ trackPressRelease.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: trackPressRelease.creator_user.id})">[[ trackPressRelease.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ trackPressRelease.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: trackPressRelease.modifier_user.id})">[[ trackPressRelease.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
