
<!-- start: PAGE TITLE -->
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle" translate="content.list.EMAILCAMPAIGNS">Email Campaigns</h1>
            <span class="mainDescription"></span>
        </div>
        <div ncy-breadcrumb></div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: DETAILS -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12" ng-controller="EmailCampaignCtrl">
            <div>
                <div class="row margin-bottom-10">
                    <div class="col-md-4">
                           <button ng-click="list()" class="btn btn-primary pull-left">
                               <i class="ti-layout-list-thumb"></i> <span translate="content.list.BACKEMAILCAMPAIGNS">Back to Email Campaigns list</span>
                           </button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" ng-click="add()" class="btn btn-primary">
                            <i class="ti-plus"></i> <span translate="content.list.ADDEMAILCAMPAIGN">Add Email Campaign</span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" ng-click="edit(emailCampaign)" class="btn btn-primary pull-right">
                            <i class="ti-pencil-alt"></i> <span translate="content.list.EDITEMAILCAMPAIGN">Edit Email Campaign</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th colspan="2" translate="content.list.EMAILCAMPAIGNDETAILS">Email Campaign Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span translate="content.list.fields.ID">Id</span></td>
                                <td>
                                    <div ng-bind-html="emailCampaign.id"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.NAME">Name</span></td>
                                <td>
                                    <div ng-bind-html="emailCampaign.name"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.DESCRIPTION">Description</span></td>
                                <td>
                                    <div ng-bind-html="emailCampaign.description"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.PRESSRELEASE">Press Release</span></td>
                                <td><a ui-sref="app.pressreleasemanager.pressreleasesdetails({id: emailCampaign.press_release.id})">[[ emailCampaign.press_release.title ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SENDNOW">Send Now</span></td>
                                <td>
                                    <span my-boolean="[[ emailCampaign.send_now ]]"></span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.SENDINGDATETIME">Sending Date Time</span></td>
                                <td>
                                    <span>[[ emailCampaign.sending_date_time | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.EXTERNALREFERENCE">External Reference</span></td>
                                <td>
                                    <div ng-bind-html="emailCampaign.external_reference"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATEDAT">Created At</span></td>
                                <td>
                                    <span>[[ emailCampaign.created_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.CREATORUSER">Creator User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: emailCampaign.creator_user.id})">[[ emailCampaign.creator_user.username ]]</a></span></td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIEDAT">Modified At</span></td>
                                <td>
                                    <span>[[ emailCampaign.modified_at | date: datetimeFormat ]]</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span translate="content.list.fields.MODIFIERUSER">Modifier User</span></td>
                                <td><a ui-sref="app.access.usersdetails({id: emailCampaign.modifier_user.id})">[[ emailCampaign.modifier_user.username ]]</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
</div><!--/container-fluid container-fullw-->
<!-- end: DETAILS -->
