<div data-ng-controller="dashboardCtrl">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div>
                <div class="widget bg-white">
                    <div class="widget-icon bg-blue pull-left fa fa-file-text-o">
                    </div>
                    <div class="overflow-hidden">
                        <div class="mb20">
                             <span class="pull-right">
                                 <a type="button" class="btn btn-primary" ng-click="pressReleaseList()">[["dashboard.ALLPRESSRELEASE" | translate]]</a>
                             </span>
                            <small class="widget-title" translate="dashboard.PRESSRELEASEINPROGRESS"></small>
                        </div>
                        <span ng-repeat-start="pr in ppr">
                            [[ pr.created_at | date : translate:"formats.DATE" ]] :  [[ pr.title ]]
                        </span> <br ng-repeat-end>
                        <div class="mb20">
                            <small class="widget-title" translate="dashboard.LASTPRESSRELEASE"></small>
                        </div>
                        <span ng-repeat-start="pr in lastppr">
                        [[ pr.created_at | date : translate:"formats.DATE" ]] :  [[ pr.title ]]
                        </span> <br ng-repeat-end>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="widget bg-white">
                <div class="widget-icon bg-blue pull-left fa fa-binoculars">
                </div>
                <div class="overflow-hidden">
                    <div class="mb20">
                            <span class="pull-right">
                                <a type="button" class="btn btn-primary" ng-click="loadVisits('all')" ng-disabled="disableVisits_all || disableVisits_today || disableVisits_last_7_days || disableVisits_last_30_days" ng-class="{'disabled' : currentVisit_all}"><i class="fa fa-spinner fa-spin" ng-if="disableVisits_all"></i>[["dashboard.ALL" | translate]]</a>
                                 <a type="button" class="btn btn-primary" ng-click="loadVisits('today')" ng-disabled="disableVisits_all || disableVisits_today || disableVisits_last_7_days || disableVisits_last_30_days" ng-class="{'disabled' : currentVisit_today}"><i class="fa fa-spinner fa-spin" ng-if="disableVisits_today"></i>[["dashboard.DAY" | translate]]</a>
                                 <a type="button" class="btn btn-primary" ng-click="loadVisits('last_7_days')" ng-disabled="disableVisits_all || disableVisits_today || disableVisits_last_7_days || disableVisits_last_30_days" ng-class="{'disabled' : currentVisit_last_7_days}"><i class="fa fa-spinner fa-spin" ng-if="disableVisits_last_7_days"></i>[["dashboard.WEEK" | translate]]</a>
                                 <a type="button" class="btn btn-primary" ng-click="loadVisits('last_30_days')" ng-disabled="disableVisits_all || disableVisits_today || disableVisits_last_7_days || disableVisits_last_30_days" ng-class="{'disabled' : currentVisit_last_30_days}"><i class="fa fa-spinner fa-spin" ng-if="disableVisits_last_30_days"></i>[["dashboard.MONTH" | translate]]</a>
                            </span>
                        <h4 class="no-margin text-uppercase" translate="dashboard.VISITSTATS"></h4>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <span translate="dashboard.NBRVISITS"> </span> <span class="label label-info pull-right"> [[ visitToShow.stats.nb_visits ]] </span> <br>
                        <span translate="dashboard.NBRVISITOR"> </span> <span class="label label-info pull-right"> [[ visitToShow.stats.nb_uniq_visitors ]] </span> <br>
                        <span translate="dashboard.NBRVIEWPAGES"> </span>  <span class="label label-info pull-right"> [[ visitToShow.stats.nb_actions ]] </span> <br>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <span translate="dashboard.AVGVISIT"> </span> <span class="label label-info pull-right"> [[ visitToShow.stats.avg_time_on_site ]] </span> <br>
                        <span translate="dashboard.REBONDRATE"> </span> <span class="label label-info pull-right"> [[ visitToShow.stats.bounce_rate ]] </span> <br>
                    </div>
                </div>
                <pager total-items="visitTotalItems" ng-model="visitCurrentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="changeNewsroomVisit()"></pager>
                <h4>[["dashboard.VISITSTATS" |  translate]] :  [[ visitToShow.name ]]</h4>
            </div>

            <div class="widget bg-white">
                <div class="widget-icon bg-blue pull-left fa fa-envelope-o">
                </div>
                    <div class="overflow-hidden">
                        <div class="mb20">
                            <span class="pull-right">
                                <a type="button" class="btn btn-primary" ng-click="loadEmails('all')" ng-disabled="disableLoad_all || disableLoad_today || disableLoad_last_7_days || disableLoad_last_30_days" ng-class="{ 'disabled' : currentLoad_all }"><i class="fa fa-spinner fa-spin" ng-if="disableLoad_all"></i>[["dashboard.ALL" | translate]]</a>
                                 <a type="button" class="btn btn-primary" ng-click="loadEmails('today')" ng-disabled="disableLoad_all ||disableLoad_today || disableLoad_last_7_days || disableLoad_last_30_days" ng-class="{ 'disabled' : currentLoad_today }"><i class="fa fa-spinner fa-spin" ng-if="disableLoad_today" ></i>[["dashboard.DAY" | translate]]</a>
                                 <a type="button" class="btn btn-primary" ng-click="loadEmails('last_7_days')" ng-disabled="disableLoad_all ||disableLoad_today || disableLoad_last_7_days || disableLoad_last_30_days" ng-class="{ 'disabled' : currentLoad_last_7_days }"><i class="fa fa-spinner fa-spin" ng-if="disableLoad_last_7_days" ></i>[["dashboard.WEEK" | translate]]</a>
                                 <a type="button" class="btn btn-primary" ng-click="loadEmails('last_30_days')" ng-disabled="disableLoad_all ||disableLoad_today || disableLoad_last_7_days || disableLoad_last_30_days" ng-class="{ 'disabled' : currentLoad_last_30_days }"><i class="fa fa-spinner fa-spin" ng-if="disableLoad_last_30_days" ></i>[["dashboard.MONTH" | translate]]</a>
                            </span>
                            <h4 class="no-margin text-uppercase" translate="dashboard.EMAILSTATS"></h4>
                        </div>
                        <div class="widget-list-item">
                        <span translate="dashboard.SENTEMAILS"> </span> <span class="label label-info pull-right">[[ emails.sent ]] </span> <br>
                        </div>
                        <span translate="dashboard.DELEVREDEMAILS"> </span> <span class="label label-warning pull-right">[[ emails.sent - emails.rejects ]] </span> <br>
                        <span translate="dashboard.OPENSEMAILS"> </span>  <span class="label label-info pull-right">[[ emails.opens ]] </span> <br>
                        <span translate="dashboard.CLICKSEMAILS"> </span> <span class="label label-info pull-right">[[ emails.clicks ]] </span> <br>
                    </div>
                </div>

            </div>
    </div>
    <div class="row">
        <div class="row-height">
        <div class="col-md-4 col-xs-12 col-lg-4 col-height">
            <div>
                <div class="widget bg-white">
                    <div class="widget-icon bg-blue pull-left fa fa-user">
                    </div>
                    <div class="overflow-hidden">
                        <div class="mb20">
                             <span class="pull-right">
                                 <a type="button" class="btn btn-primary" ng-click="editprofile()">[["content.common.EDIT" | translate]]</a>
                             </span>
                            <small class="widget-title" translate="dashboard.YOURACCOUNT"></small>
                        </div>
                        <div class="col-md-4">
                            <a href="javascript:;">
                              <span class="pull-left mt2 mr15">
                                <img data-ng-src="/app/images/avatar.jpg" class="avatar avatar-xs img-circle" alt="">
                              </span>
                            </a>
                            <span> [[ profile.name ]]</span>
                            <span>[[ profile.type ]]</span>
                        </div>
                        <div class="col-md-8">
                            <span>[["dashboard.INSCRIPTIONDATE" | translate]] : [[profile.inscriptionDate | date : translate:"formats.DATE"]]</span> <br>
                            <span>[["dashboard.NBRNEWSROOM" | translate]] : 3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-lg-4 col-height">
            <div>
                <div class="widget bg-white">
                    <div class="widget-icon bg-blue pull-left fa fa-question-circle">
                    </div>
                    <div class="overflow-hidden">
                        <div class="mb20">
                             <span class="pull-right">
                                 <a type="button" class="btn btn-primary" ui-sref="app.settings.faqsShowAll">[["dashboard.SHOWALL" | translate]]</a>
                             </span>
                            <small class="widget-title" translate="dashboard.FAQ"></small>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <span ng-repeat="faq in faqs">
                                <a ui-sref="app.settings.faqsShow({id: faq.id})" class="widget-list-item">
                                    [[ faq.question ]]
                                </a> <br>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12 col-lg-4 col-height">
            <div>
                <div class="widget bg-white">
                    <div class="widget-icon bg-blue pull-left fa fa-comment">
                    </div>
                    <div class="overflow-hidden">
                        <div class="mb20">
                             <span class="pull-right">
                                 <a type="button" class="btn btn-primary" href="#" >[["dashboard.BLOG" | translate]]</a>
                             </span>
                            <small class="widget-title" translate="dashboard.BLOGTITLE"></small>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div>
                                <a href="#" class="widget-list-item">
                                    Title of news
                                </a>
                                <p>news 1 extract information ...</p>
                            </div>
                             <div>
                                <a href="#" class="widget-list-item">
                                    Title of news
                                </a>
                                 <p>news 1 extract information...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>
</div>
