<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
Dear {{ user_name }}, <br>

This is an e-mail notification to inform you that your order : {{ order_id }} ({{ link }}) has been confirmed on {{ created_at }}.<br>

Thank you for your subscription ;) <br>

Sincerely,<br>
publipr.fr
</body>
</html>
